.MIDI {
  background-color: #080808 !important;
  color: inherit !important;
}

.MIDI textarea {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  border: 1px solid #222;
}

.MIDI .MuiAccordionSummary-content span {
  margin-left: 10px;
  line-height: 24px;
}
