.ChannelVolume {
  text-align: center;
}

.ChannelVolume .slider {
  height: 275px;
}

.ChannelVolume .channel-name {
  margin: 10px 0 2px;
  font-size: 75%;
}

.ChannelVolume .MuiButtonGroup-root .MuiButton-text {
  padding: 4px 0 12px;
}

.ChannelVolume .MuiButtonGroup-root .MuiButton-text.bump {
  padding: 4px 0 7px;
}

.ChannelVolume .MuiButtonGroup-root .MuiButtonGroup-grouped {
  min-width: 0;
}

.ChannelVolume .MuiSlider-root.MuiSlider-vertical {
  padding: 0 8px;
}
