.Snapshots .MuiButton-root {
  min-width: 0;
  padding: 7px 5px 9px;
  line-height: 0;
  font-size: 65%;
  text-transform: none;
}

.Snapshots .MuiButton-outlined {
  margin-left: 10px;
}

.Snapshots .MuiButton-text {
  margin-left: 2px;
}
