.Settings {
  background-color: #1c1c1c !important;
  color: inherit !important;
}

.Settings .section {
  font-size: 90%;
}

.Settings .MuiAccordionSummary-content span {
  margin-left: 10px;
  line-height: 24px;
}

.Settings p,
.Settings .MuiCheckbox-root,
.Settings .MuiCheckbox-root.Mui-disabled,
.Settings .MuiFormControlLabel-label.Mui-disabled,
.Settings .MuiTableCell-root {
  color: #666;
}

.Settings p,
.Settings td.MuiTableCell-body {
  font-size: 75%;
}

.Settings th.MuiTableCell-body {
  text-transform: uppercase;
}
