.Channel {
  text-align: center;
}

.Channel .slider {
  height: 300px;
}

.Channel .channel-name {
  margin-top: 10px;
  font-size: 75%;
}

.Channel .MuiSlider-root.MuiSlider-vertical {
  width: 0;
}
